.mobileLavlink::before {
    content: attr(dataText);
    position: absolute;
    color: #fff;
    width: 0px;
    overflow: hidden;
    white-space: nowrap; 
    transition: width 0.8s ease; 
}

.mobileLavlinkForHome::before{
    color: #000;
}

.mobileLavlink:hover::before {
    width:100%;
}